.rarity-very-rare .panel-body,
.rarity-rare .panel-body {
    color: rgb(86, 86, 86);
}

.rarity-very-rare .panel-heading,
.rarity-rare .panel-heading {
    color: rgb(218, 218, 218);
    border-color: rgb(218, 218, 218);
}

.rarity-very-rare .btn,
.rarity-rare .btn {
    color: rgb(218, 218, 218);
    background-color: rgb(86, 86, 86);
}

.rarity-very-rare .btn:hover,
.rarity-rare .btn:hover {
    color: rgb(22, 22, 22);
    background-color: rgb(218, 218, 218);
}

.rarity-very-rare .panel-default .panel-heading .badge,
.rarity-rare .panel-default .panel-heading .badge {
    color: rgb(218, 218, 218);
    background-color: rgb(86, 86, 86);
}

.rarity-standard .panel-heading {
    color: rgb(229, 162, 13);
    border-color: rgb(229, 162, 13);
}
.rarity-standard .panel-body {
    color: rgb(229, 162, 13);
}
.rarity-standard .btn {
    color: rgb(229, 162, 13);
    background-color: rgb(84, 64, 19);
}
.rarity-standard .panel-default .panel-heading .badge {
    color: rgb(229, 162, 13);
    background-color: rgb(84, 64, 19);
}

.rarity-standard .btn:hover {
    color: rgb(22, 22, 22);
    background-color: rgb(229, 162, 13);
}

.material-icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 0.3em;
    margin-top: -2px;
}

.rarity-very-rare .material-icon {
    background: rgb(218, 218, 218) url(icons/material-very-rare.png) no-repeat;
}

.rarity-rare .material-icon {
    background: rgb(218, 218, 218) url(icons/material-rare.png) no-repeat;
}

.rarity-common .material-icon {
    background: rgb(226, 106, 10) url(icons/material-common.png) no-repeat;
}

.rarity-very-common .material-icon {
    background: rgb(226, 106, 10) url(icons/material-very-common.png) no-repeat;
}

.rarity-standard .material-icon {
    background: rgb(229, 162, 13) url(icons/material-standard.png) no-repeat;
}

.blueprint .panel-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.material-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.track-blueprint .title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.track-material .location,
.material .location {
    display: inline-block;
    padding: .2em .6em .3em;
    margin: .4em .4em .4em 0;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    vertical-align: baseline;
    border-radius: 1em;
    background: rgb(83, 46, 18);
}

@media (max-width: 767px) {
    .track-material .location,
    .material .location {
        margin: .2em .4em .2em 0;
    }
}

.track-material.rarity-rare .location,
.track-material.rarity-very-rare .location,
.material.rarity-rare .location,
.material.rarity-very-rare .location {
    color: rgb(218, 218, 218);
    background-color: rgb(86, 86, 86);
}
.track-material.rarity-standard .location,
.material.rarity-standard .location {
    color: rgb(229, 162, 13);
    background-color: rgb(84, 64, 19);
}

@media (min-width: 768px) {
    #blueprints-collection-view .collection-items .col-sm-6:nth-child(2n+1),
    #materials-collection-view .collection-items .col-sm-6:nth-child(2n+1),
    #track-blueprints .col-sm-6:nth-child(2n+1),
    #track-materials .col-sm-6:nth-child(2n+1) {
        clear: left;
    }
}
#introduction {
    margin: -1em -4px -4px -4px;
}
#introduction .item {
    min-height: 20em;
}
@media (max-width: 767px) {
    #introduction .item {
        min-height: 30em;
    }
}
.carousel-caption {
    position:static;
    margin: 0 15%;
    color: inherit;
    font-size: 1.2em;
}
.carousel-control {
    color: inherit;
}
.carousel-control:hover, .carousel-control:focus {
    color: rgb(226, 106, 10);
}
.carousel-indicators li {
    border-color: inherit;
}
.carousel-indicators .active {
    background-color: rgb(226, 106, 10);
}
.carousel-indicators .active {
    background-color: rgb(226, 106, 10);
}
.caret-right .caret {
    position: absolute;
    top: 0.8em;
    right: 0.6em;
}

@media (max-width: 767px) {
    .panel {
        margin-bottom: 8px;
    }
}

@media (max-width: 767px) {
    body {
        font-size: 12px;
    }
}
