<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Elite: Dangerous - Engineer's Companion</title>
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet"/>
  <link rel="stylesheet" href="bootstrap-3.3.6-dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/theme.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
</head>
<body>

<script type="text/template" id="material-tpl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <%= title %>
        <div class="pull-right">
          <% if(inventory){ %> <span><%= inventory %></span><% } %>
          <a href="#" class="btn btn-default btn-sm inventory-minus">
            <span class="glyphicon glyphicon-minus"></span></a>
          <a href="#" class="btn btn-default btn-sm inventory-plus">
            <span class="glyphicon glyphicon-plus"></span></a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div>
      <span class="badge" style="text-transform:capitalize"><%= type %></span>
      <span class="badge" style="text-transform:capitalize"><%= rarity %></span>
      </div>
      <div class="text-muted">
        <% for (var i=0; i < locations.length; i++) { %>
          <%= locations[i].title %>
        <% } %>
      </div>
    </div>
    <div class="panel-footer">
      <div class="btn-group btn-group-justified">
        <a href="#" class="btn btn-default btn-sm favorite"><span
            class="glyphicon glyphicon-plus"></span> Start Collecting
          <span class="label label-info">TODO:implement</span></a>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="track-material-tpl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <%= material.title %>
        <div class="pull-right">
          <span class="inventory"><%= inventory %></span>
          / <span class="quantity"><%= quantity %></span>
          <a href="#" class="btn btn-default btn-sm inventory-minus">
            <span class="glyphicon glyphicon-minus"></span></a>
          <a href="#" class="btn btn-default btn-sm inventory-plus">
            <span class="glyphicon glyphicon-plus"></span></a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div>
      <span class="badge" style="text-transform:capitalize"><%= material.type %></span>
      <span class="badge" style="text-transform:capitalize"><%= material.rarity %></span>
      </div>
      <div class="text-muted">
        <% for (var i=0; i < material.locations.length; i++) { %>
          <%= material.locations[i].title %>
        <% } %>
      </div>
    </div>
    <div class="panel-footer">
      <div class="btn-group btn-group-justified">
        <a href="#" class="btn btn-default btn-sm remove"><span
            class="glyphicon glyphicon-remove"></span> Remove</a>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="blueprint-tpl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <%= title %> <span class="badge"><%= level %></span>
        <span class="badge"><%=type%></span>
        <div class="pull-right">
          <% if (tracked) { %>
          <span class="quantity"><%=quantity%></span>
          <a href="#" class="btn btn-primary btn-sm track"><span
              class="glyphicon glyphicon-plus"></span></a>
          <% } %>
        </div>
      </div>
    </div>
    <div class="panel-body text-muted" style="white-space: nowrap">
      <% for (var i=0; i < ingredients.length; ++i) { %>
      <div class="row" style="font-size: 0.9em">
        <div class="col-xs-8"><%= ingredients[i].material.title %></div>
        <div class="col-xs-4 text-right"><%= ingredients[i].quantity %></div>
      </div>
      <% } %>
    </div>
    <div class="panel-footer">
      <div class="btn-group btn-group-justified">
      <% if (tracked) { %>
        <a href="#" class="btn btn-default btn-sm remove"><span
            class="glyphicon glyphicon-remove"></span> Remove</a>
        <a href="#" class="btn btn-default btn-sm craft"><span
            class="glyphicon glyphicon-ok"></span> Craft</a>
      <% } else { %>
          <a href="#" class="btn btn-default btn-sm track"><span
              class="glyphicon glyphicon-plus"></span>
            Start Collecting</a>
      <% } %>
      </div>
    </div>
  </div>
</script>

<br/>

<div class="container">
  <div class="well well-sm" style="min-height: 30em">
    <div id="track-toolbar" style="margin-bottom: 1.6em">
      <nav>
        <ul class="nav nav-pills nav-justified" id="track-tab-view">
          <li><a href="#track-blueprints" data-toggle="pill">
            Blueprints <span class="badge num-blueprints">0</span></a></li>
          <li class="active"><a href="#track-materials" data-toggle="pill">
            Materials <span class="badge num-materials">0</span></a></li>
        </ul>
      </nav>
      <!--
      <div class="row">
        <div class="col-xs-3">
          <div class="btn-group" style="width:100%">
            <button class="btn btn-default dropdown-toggle" type="button"
                id="menu-filter-1" data-toggle="dropdown"
                style="width:100%;text-align:left">
              <span class="glyphicon glyphicon-filter"></span>
              <span class="pull-right"><span class="caret"></span></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Option</a></li>
              <li><a href="#">Option</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-7">
          <input type="text" class="form-control" placeholder="Search..."/>
        </div>
        <div class="col-xs-2 text-right">
          <div class="btn-group" style="width:100%">
            <button class="btn btn-default dropdown-toggle" type="button"
                id="menu-sort-by-1" data-toggle="dropdown"
                style="width:100%;text-align:left">Sort by
              <span class="pull-right"><span class="caret"></span></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Title</a></li>
              <li><a href="#">Rarity</a></li>
              <li><a href="#">Grade</a></li>
              <li><a href="#">Inventory</a></li>
            </ul>
          </div>
        </div>
      </div>
      -->
    </div>

    <div class="tab-content">
      <div class="tab-pane row" id="track-blueprints"></div>
      <div class="tab-pane active row" id="track-materials"></div>
    </div>
  </div>

  <nav id="resource-filter-tabs">
    <ul class="nav nav-pills nav-justified">
      <li class="active"><a href="#blueprints-collection-view"
          data-toggle="pill">Blueprints
        <span class="badge num-blueprints">0</span></a>
      </li>
      <li><a href="#materials-collection-view"
          data-toggle="pill">Materials
        <span class="badge num-materials">0</span></a></li>
    </ul>
  </nav>
  <div class="tab-content">
    <div id="blueprints-collection-view" class="row tab-pane active">
      <div id="blueprints-filter" style="margin-bottom:1.6em"
          class="clearfix">
        <div class="col-xs-3">
          <div class="btn-group" style="width:100%">
            <button class="btn btn-default dropdown-toggle" type="button"
                id="menu-filter-2" data-toggle="dropdown"
                style="width:100%;text-align:left;">
              <span class="blueprints-filter-type" data-type="">All</span>
              <span class="pull-right"><span class="caret"></span></span>
            </button>
            <ul class="dropdown-menu blueprints-filter-type">
              <li><a href="#" data-type="">All</a></li>
              <li role="separator" class="divider"></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="btn-group" style="width:100%">
            <button class="btn btn-default dropdown-toggle" type="button"
                id="menu-filter-3" data-toggle="dropdown"
                style="width:100%;text-align:left;">
              <span class="blueprints-filter-level" data-level="">All</span>
              <span class="pull-right"><span class="caret"></span></span>
            </button>
            <ul class="dropdown-menu blueprints-filter-level">
              <li><a href="#" data-level="">All</a></li>
              <li role="separator" class="divider"></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-5">
          <input type="text"
            class="form-control blueprints-filter-search"
            placeholder="Search..."/>
        </div>
        <div class="col-xs-2 text-right">
          <div class="btn-group" style="width:100%">
            <button class="btn btn-default dropdown-toggle" type="button"
                id="sort-by-2" data-toggle="dropdown"
                style="width:100%;text-align:left;">Sort by
              <span class="pull-right"><span class="caret"></span></span>
            </button>
            <ul class="dropdown-menu blueprints-filter-sort">
              <li><a href="#">Title</a></li>
              <li><a href="#">Rarity</a></li>
              <li><a href="#">Grade</a></li>
              <li><a href="#">Inventory</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="collection-items"></div>
      <nav class="col-md-12">
        <ul class="pager" style="margin-top:0">
          <li class="previous"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span> Previous</a></li>
          <li class="next"><a href="#">Next <span class="glyphicon glyphicon-chevron-right"></span></a></li>
        </ul>
      </nav>
    </div>

    <div id="materials-collection-view" class="row tab-pane">
      <div id="materials-filter" style="margin-bottom:1.6em"
          class="clearfix">
        <div class="col-xs-3">
          <div class="btn-group" style="width:100%">
            <button class="btn btn-default dropdown-toggle" type="button"
                id="menu-filter-3" data-toggle="dropdown"
                style="width:100%;text-align:left;">
              <span class="materials-filter-type">All</span>
              <span class="pull-right"><span class="caret"></span></span>
            </button>
            <ul class="dropdown-menu materials-filter-type">
              <li><a href="#" data-type="">All</a></li>
              <li role="separator" class="divider"></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-7">
          <input type="text" class="form-control materials-filter-search" placeholder="Search..."/>
        </div>
        <div class="col-xs-2 text-right">
          <div class="btn-group" style="width:100%">
            <button class="btn btn-default dropdown-toggle" type="button"
                id="sort-by-3" data-toggle="dropdown"
                style="width:100%;text-align:left;">Sort by
              <span class="pull-right"><span class="caret"></span></span>
            </button>
            <ul class="dropdown-menu materials-filter-sort">
              <li><a href="#">Title</a></li>
              <li><a href="#">Rarity</a></li>
              <li><a href="#">Grade</a></li>
              <li><a href="#">Inventory</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="collection-items"></div>
      <nav class="col-md-12">
        <ul class="pager" style="margin-top:0">
          <li class="previous"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span> Previous</a></li>
          <li class="next"><a href="#">Next <span class="glyphicon glyphicon-chevron-right"></span></a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="text-muted small text-center">
    <p>Companion web-app for Elite: Dangerous, manage blueprints and material inventory
    for crafting engineer upgrades.<br/>
    Copyright (C) 2016  Frederik Schumacher<br/>
    Checkout the <a href="https://github.com/fre-sch/collector-drone">source at github</a><br/>
    </p>
  </div>
</div>

<script src="js/libs/underscore.js"></script>
<script src="js/libs/backbone.min.js"></script>
<script src="js/libs/backbone.localStorage.js"></script>
<script src="js/app.js" charset="utf-8"></script>
</body>
</html>
