<script type="text/template" id="blueprint-tpl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <span class="badge"><%= level %></span>
        <span class="title"><%= title %></span>
        <span class="hidden-xs hidden-sm"><span class="badge"><%=type%></span></span>
      </div>
    </div>
    <div class="panel-body" style="white-space: nowrap">
      <div class="visible-xs-block visible-sm-block">
          <span class="badge"><%=type%></span>
      </div>
      <% for (var i=0; i < ingredients.length; ++i) { %>
      <div class="row" style="font-size: 0.9em">
        <div class="col-xs-8"><%= ingredients[i].material.title %></div>
        <div class="col-xs-4 text-right"><%= ingredients[i].quantity %></div>
      </div>
      <% } %>
    </div>
    <div class="panel-footer">
      <div class="btn-group btn-group-justified">
          <a href="#" class="btn btn-default track"><span
              class="glyphicon glyphicon-plus"></span>
            Start Collecting</a>
      </div>
    </div>
  </div>
</script>
