<script type="text/template" id="track-material-tpl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title row">
        <div class="col-xs-8 col-md-9 material-title" title="<%= material.title %>">
            <span class="material-icon"></span>
            <span class="badge" title="<%= material.type %>"><%= material.typeLabel %></span>
            <%= material.title %>
        </div>
        <div class="col-xs-4 col-md-3 text-right">
          <span class="inventory"><%= inventory %></span>
          / <span class="quantity"><%= quantity %></span>
          <a href="#" class="btn btn-default btn-sm inventory-minus">
            <span class="glyphicon glyphicon-minus"></span></a>
          <a href="#" class="btn btn-default btn-sm inventory-plus">
            <span class="glyphicon glyphicon-plus"></span></a>
        </div>
      </div>
    </div>
    <div class="panel-body">
        <%
        var titles = material.locations.map(function(it){return it.title});
        titles.sort(function(a,b){return a.length-b.length});
        for(var i=0; i<titles.length; ++i) { %>
            <span class="location"><%=titles[i]%></span>
        <% } %>
    </div>
    <!--
    <div class="panel-footer">
      <div class="btn-group btn-group-justified">
        <a href="#" class="btn btn-default btn-sm remove"><span
            class="glyphicon glyphicon-remove"></span> Remove</a>
        <a href="#" class="btn btn-default btn-sm track"><span
          class="glyphicon glyphicon-plus"></span> Track</a>
      </div>
    </div>
    -->
  </div>
</script>
